{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Default Value"|t('freeform'),
    instructions: "The default value for the field."|t('freeform'),
    id: "value",
    name: "types[regex][value]",
    value: field.getMetaProperty('value'),
    errors: field.getErrors("value"),
    required: false
}) }}

{{ forms.textField({
    label: "Placeholder"|t('freeform'),
    instructions: "The default text that will be shown if the field doesn’t have a value."|t('freeform'),
    id: "placeholder",
    name: "types[regex][placeholder]",
    value: field.getMetaProperty("placeholder"),
    errors: field.getErrors("placeholder"),
    required: false
}) }}

<hr>

{{ forms.textField({
    label: "Pattern"|t('freeform'),
    instructions: "Enter any regex pattern here."|t('freeform'),
    name: "types[regex][pattern]",
    value: field.getMetaProperty('pattern'),
}) }}

{{ forms.textField({
    label: "Error Message"|t('freeform'),
    instructions: "The message a user should receive if an incorrect value is given. It will replace any occurrences of '{{pattern}}' with the supplied regex pattern inside the message if any are found."|t('freeform'),
    name: "types[regex][message]",
    value: field.getMetaProperty('message'),
}) }}
