{% import "_includes/forms" as forms %}

{{ forms.lightSwitchField({
    label: "Show 'Clear' button?"|t('freeform'),
    name: 'types[signature][showClearButton]',
    on: field.getMetaProperty('showClearButton'),
}) }}

{{ forms.textField({
    label: "Width"|t('freeform'),
    instructions: "Canvas width in pixels."|t('freeform'),
    name: "types[signature][width]",
    value: field.getMetaProperty('width'),
}) }}

{{ forms.textField({
    label: "Height"|t('freeform'),
    instructions: "Canvas height in pixels."|t('freeform'),
    name: "types[signature][height]",
    value: field.getMetaProperty('height'),
}) }}

{{ forms.colorField({
    label: "Border Color"|t('freeform'),
    name: "types[signature][borderColor]",
    value: field.getMetaProperty('borderColor'),
}) }}

{{ forms.colorField({
    label: "Background Color"|t('freeform'),
    name: "types[signature][backgroundColor]",
    value: field.getMetaProperty('backgroundColor'),
}) }}

{{ forms.colorField({
    label: "Pen Color"|t('freeform'),
    name: "types[signature][penColor]",
    value: field.getMetaProperty('penColor'),
}) }}

{{ forms.textField({
    label: "Pen Dot Size"|t('freeform'),
    name: "types[signature][penDotSize]",
    value: field.getMetaProperty('penDotSize'),
}) }}
