{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Default Value"|t('freeform'),
    instructions: "The default value for the field."|t('freeform'),
    id: "value",
    name: "types[textarea][value]",
    value: field.metaProperty('value'),
    errors: field.getErrors("value"),
    required: false
}) }}

{{ forms.textField({
    label: "Placeholder"|t('freeform'),
    instructions: "The default text that will be shown if the field doesn’t have a value."|t('freeform'),
    id: "placeholder",
    name: "types[textarea][placeholder]",
    value: field.metaProperty('placeholder'),
    errors: field.getErrors("placeholder"),
    required: false
}) }}

{{ forms.textField({
    label: "Rows"|t('freeform'),
    instructions: "The default number of rows this textarea should have."|t('freeform'),
    id: "rows",
    name: "types[textarea][rows]",
    value: field.metaProperty('rows', 2),
    errors: field.getErrors("rows"),
    required: false
}) }}
