@use '../../shared/mixins';

#components-wrapper {
  @include mixins.clearfix;
  margin: 25px -10px 0;

  > div {
    position: relative;
    box-sizing: border-box;

    float: left;
    width: 50%;

    padding: 0 10px;
    margin: 0 0 25px;
  }

  @media only screen and (max-width: 800px) {
    > div {
      width: 100%;
    }
  }
}

ul.directory-structure {
  @extend %gradient-bg;

  ul {
    margin: 2px 0 0 20px;
  }

  li:before {
    font-family: 'Craft';
    font-size: 16px;
    padding-right: 5px;
  }

  li.dir {
    font-weight: bold;

    &:before {
      font-weight: normal;
      content: 'folder';
    }
  }

  li.file {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3px;

    padding: 2px 0;
    font-weight: normal;

    &:before {
      content: 'templates';
    }

    > small {
      flex: 1;
      text-align: right;
    }
  }

  &.routes {
    > li {
      @include mixins.clearfix;

      .route {
        float: left;

        font-weight: normal;

        &:before {
          position: relative;
          top: 1px;
          padding: 0 5px 0 0;

          font-weight: normal;
          font-family: 'Craft';
          font-size: 10px;
          content: 'routes';
        }
      }

      .template {
        float: right;

        color: #ccc;
        font-size: 12px;
      }
    }
  }
}

ul.section-structure {
  > li {
    padding-left: 10px;
    @include mixins.clearfix;
    @extend %bordered-padding;

    > div {
      float: left;
      @extend %gradient-bg;

      margin: 0 10px 0 0;

      &:last-child {
        margin-right: 0;
      }

      > table {
        tr:last-child td {
          border-bottom: none;
        }
      }
    }
  }
}

%bordered-padding {
  padding: 8px;
  border: 1px solid #e0e5ea;
  border-radius: 2px;
}

%gradient-bg {
  @extend %bordered-padding;
  background: #f4f7fc;
}

.add-sample-template {
  position: absolute;
  right: 20px;
  top: 10px;
}
