@use "../../shared/mixins";

#components-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  > div {
    position: relative;
    box-sizing: border-box;
  }

  @media only screen and (max-width: 1600px) {
    grid-template-columns: 1fr;

    > div {
      width: 100%;
    }
  }

  .btn-group {
    position: absolute;
    top: 5px;
    right: 15px;
  }
}

ul.directory-structure {
  @extend %gradient-bg;

  ul {
    margin: 2px 0 0 20px;
  }

  li:before {
    padding-right: 5px;
    font-family: "Craft";
    font-size: 16px;
  }

  li.dir {
    font-weight: bold;

    &:before {
      font-weight: normal;
      content: "folder";
    }
  }

  li.file {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: start;

    padding: 2px 0;
    font-weight: normal;

    &:before {
      content: "templates";
    }

    > small {
      flex: 1;
      text-align: right;
    }
  }

  &.routes {
    > li {
      @include mixins.clearfix;

      .route {
        float: left;

        font-weight: normal;

        &:before {
          position: relative;
          top: 1px;
          padding: 0 5px 0 0;
          font-family: "Craft";
          font-size: 10px;

          font-weight: normal;
          content: "routes";
        }
      }

      .template {
        float: right;
        font-size: 12px;

        color: #ccc;
      }
    }
  }
}

ul.section-structure {
  > li {
    padding-left: 10px;
    @include mixins.clearfix;
    @extend %bordered-padding;

    > div {
      float: left;

      margin: 0 10px 0 0;
      @extend %gradient-bg;

      &:last-child {
        margin-right: 0;
      }

      > table {
        tr:last-child td {
          border-bottom: none;
        }
      }
    }
  }
}

%bordered-padding {
  padding: 8px;
  border: 1px solid #e0e5ea;
  border-radius: 2px;
}

%gradient-bg {
  background: #f4f7fc;
  @extend %bordered-padding;
}

.add-sample-template {
  position: absolute;
  top: 10px;
  right: 20px;
}
