{% extends "freeform/_layouts/settings" %}

{% import "_includes/forms" as forms %}

{% set title = "General"|t("freeform") %}

{% block content %}

    <h2>{{ "General Settings"|t('freeform') }}</h2>

    <input type="hidden" name="action" value="freeform/settings/save-settings">
    {{ redirectInput('freeform/settings/general') }}
    {{ csrfInput() }}

    {% if craft.freeform.pro %}

        {{ forms.textField({
            class: "code",
            label: "Custom Plugin Name"|t('freeform'),
            instructions: "Override the plugin name by specifying your own here."|t('freeform'),
            placeholder: craft.freeform.name,
            id: "pluginName",
            name: "settings[pluginName]",
            value: settings.pluginName,
            errors: settings.getErrors("pluginName"),
        }) }}

    {% endif %}

    {{ forms.lightswitchField({
        label: "Show Composer Tutorial"|t('freeform'),
        instructions: "Enable this to show the interactive tutorial again in Composer. This setting disables again when the tutorial is completed or skipped."|t('freeform'),
        name: "settings[showTutorial]",
        on: settings.showTutorial,
        errors: settings.errors("showTutorial"),
    }) }}

    {{ forms.selectField({
        label: "Default View"|t('freeform'),
        instructions: "The default page to go to when clicking the Freeform nav item."|t('freeform'),
        name: "settings[defaultView]",
        value: settings.defaultView,
        errors: settings.errors("defaultView"),
        options: {
            dashboard: "Dashboard",
            forms: "Form view",
            submissions: "Submission view",
        },
    }) }}

    {{ forms.selectField({
        label: "Display Order of Fields in Composer"|t('freeform'),
        instructions: "The display order for the list of available fields in Composer."|t('freeform'),
        name: "settings[fieldDisplayOrder]",
        value: settings.fieldDisplayOrder,
        errors: settings.errors("fieldDisplayOrder"),
        options: {
            type: "Field type, Field name (alphabetical)",
            name: "Field name (alphabetical)",
        },
    }) }}

    {{ forms.lightswitchField({
        label: "Render HTML inside Composer & Submissions view?"|t('freeform'),
        instructions: "Live rendering HTML in HTML blocks, field labels and option labels inside the Composer interface can sometimes conflict with Freeform's display of the form preview inside the control panel. In cases like these, you'll need to disable this setting to prevent HTML from rendering automatically."|t('freeform'),
        name: "settings[renderFormHtmlInCpViews]",
        on: settings.renderFormHtmlInCpViews,
        errors: settings.errors("renderFormHtmlInCpViews"),
    }) }}

    {{ forms.lightswitchField({
        label: "AJAX Enabled for Forms by Default"|t('freeform'),
        instructions: 'By default, the "Enable AJAX" feature checkbox will be checked for new forms.'|t('freeform'),
        name: "settings[ajaxByDefault]",
        on: settings.ajaxByDefault,
        errors: settings.errors("ajaxByDefault"),
    }) }}

    {{ forms.selectField({
        label: "Default Formatting Template"|t('freeform'),
        instructions: "The default formatting template for new forms."|t('freeform'),
        name: "settings[formattingTemplate]",
        value: settings.formattingTemplate,
        errors: settings.errors("formattingTemplate"),
        options: formattingTemplateList,
    }) }}

    {{ forms.lightswitchField({
        label: "Include Default Freeform Formatting Templates"|t('freeform'),
        instructions: "Disable this to hide the default Freeform formatting templates in the Formatting Template options list inside Composer."|t('freeform'),
        name: "settings[defaultTemplates]",
        on: settings.defaultTemplates,
        errors: settings.errors("defaultTemplates"),
    }) }}

    {{ forms.lightswitchField({
        label: "Remove Newlines from Textareas for Exporting"|t('freeform'),
        instructions: "Enable this to have newlines removed from Textarea fields in submissions when exporting."|t('freeform'),
        name: "settings[removeNewlines]",
        on: settings.removeNewlines,
        errors: settings.errors("removeNewlines"),
    }) }}

    {{ forms.lightswitchField({
        label: "Fill Form Values from the GET Query String?"|t('freeform'),
        instructions: "Enable this to be able to fill form field values from a GET query string in URI."|t('freeform'),
        name: "settings[fillWithGet]",
        on: settings.fillWithGet,
        errors: settings.errors("fillWithGet"),
    }) }}

    {{ forms.lightswitchField({
        label: "Disable Submit Button on Form Submit?"|t('freeform'),
        instructions: "Enable this to automatically disable the form's submit button when the form is submitted. This will prevent the form from double-submitting."|t('freeform'),
        name: "settings[formSubmitDisable]",
        on: settings.formSubmitDisable,
        errors: settings.errors("formSubmitDisable"),
    }) }}

    {{ forms.lightswitchField({
        label: "Automatically Scroll to Form on Errors and Multipage forms?"|t('freeform'),
        instructions: "Enable this to have Freeform use JS to automatically scroll the page down to the form upon submit when there are errors or the form is continuing to the next page in multipage forms."|t('freeform'),
        name: "settings[autoScrollToErrors]",
        on: settings.autoScrollToErrors,
        errors: settings.errors("autoScrollToErrors"),
    }) }}

    {{ forms.selectField({
        label: "Freeform Javascript Insertion Location"|t('freeform'),
        instructions: "The location of where you want Freeform to insert its scripts for form and field functionality."|t('freeform'),
        name: "settings[scriptInsertLocation]",
        value: settings.scriptInsertLocation,
        errors: settings.errors("scriptInsertLocation"),
        options: {
            "footer": "Page Footer"|t('freeform'),
            "form": "Inside Form"|t('freeform'),
            "manual": "None (add manually)"|t('freeform'),
        }
    }) }}

    <hr>

    {% if craft.freeform.pro %}

        {{ forms.lightswitchField({
            label: "Automatically Purge Submission Data"|t('freeform'),
            instructions: "If you wish to have Freeform automatically purge submission data after a specified number of days, enable this setting and specify the number of days after submission date it should purge submissions."|t('freeform'),
            warning: "Enabling this and saving this settings page will result in purging beginning.",
            name: "purge-toggle",
            on: settings.purgableSubmissionAgeInDays,
            toggle: "purge",
            errors: settings.errors("purgableSubmissionAgeInDays"),
        }) }}

        <div id="purge" class="field {{ not settings.purgableSubmissionAgeInDays ? 'hidden' }}">
            {{ forms.selectField({
                label: "Days After Submission Date to Purge"|t('freeform'),
                instructions: "Select the number of days after submissions have been submitted for Freeform to begin automatically purging. This process will only run every hour, and only when Freeform is accessed on the front end in templates or in the control panel."|t('freeform'),
                name: "settings[purgableSubmissionAgeInDays]",
                value: settings.purgableSubmissionAgeInDays,
                errors: settings.errors("purgableSubmissionAgeInDays"),
                id: "purge-value",
                options: {
                    0: "Please select"|t("freeform"),
                    7: "7 days"|t("freeform"),
                    14: "14 days"|t("freeform"),
                    30: "30 days"|t("freeform"),
                    60: "60 days"|t("freeform"),
                    90: "90 days"|t("freeform"),
                    120: "120 days"|t("freeform"),
                    180: "180 days"|t("freeform"),
                    365: "365 days"|t("freeform"),
                }
            }) }}
        </div>

    {% endif %}

{% endblock %}
