{% extends "freeform/_layouts/settings" %}

{% import "_includes/forms" as forms %}

{% block content %}

    <h2>{{ "Spam Settings"|t('freeform') }}</h2>

    <form action="" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="freeform/settings/save-settings">
        {{ redirectInput('freeform/settings/spam') }}
        {{ csrfInput() }}

        {{ forms.lightswitchField({
            label: "Spam Protection"|t('freeform'),
            instructions: "Enable this to use Freeform's built in Javascript-based honeypot spam protection."|t('freeform'),
            name: "settings[spamProtectionEnabled]",
            on: settings.spamProtectionEnabled,
            errors: settings.errors("spamProtectionEnabled"),
        }) }}

        {{ forms.lightswitchField({
            label: "Spam protection simulates a successful submission?"|t('freeform'),
            instructions: "Enable this to change the spam protection behavior to simulate a successful submission instead of just reloading the form."|t('freeform'),
            name: "settings[spamBlockLikeSuccessfulPost]",
            on: settings.spamBlockLikeSuccessfulPost,
            errors: settings.errors("spamBlockLikeSuccessfulPost"),
        }) }}

        <input type="submit" class="btn submit" value="{{ "Save"|t('freeform') }}">
    </form>

{% endblock %}
