{% extends "freeform/_layouts/settings" %}

{% set title = "Webhooks"|t("freeform") %}

{% block actionButton %}

    {% if craft.freeform.pro and currentUser.can("freeform-settingsAccess") %}
        <div class="buttons">
            <a href="{{ url('freeform/settings/webhooks/new') }}" class="btn submit add icon">
                {{ "New Webhook"|t('freeform') }}
            </a>
        </div>
    {% endif %}

{% endblock %}

{% block content %}

    <div id="no-webhooks" class="padded{% if webhooks|length %} hidden{% endif %}">
        <p>{{ "No Webhooks added yet"|t('freeform') }}</p>
    </div>

    {% if webhooks|length %}
        <table id="webhooks" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">{{ "Name"|t('freeform') }}</th>
                <th scope="col">{{ "Provider"|t('freeform') }}</th>
                <td class="thin"></td>
            </tr>
            </thead>
            <tbody>
            {% for webhook in webhooks %}
                <tr data-id="{{ webhook.id }}" data-name="{{ webhook.name }}">
                    <th scope="row" data-title="{{ 'Name'|t('freeform') }}">
                        {% if craft.freeform.pro %}
                            <a href="{{ url('freeform/settings/webhooks/'~webhook.id) }}">{{ webhook.name }}</a>
                        {% else %}
                            {{ webhook.name }}
                        {% endif %}
                    </th>
                    <td class="code">
                        {{ webhook.providerName }}
                    </td>
                    <td class="thin">
                        <a class="delete icon" title="{{ 'Delete'|t('freeform') }}" role="button"></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}

    {% if not craft.freeform.pro %}
        <div class="alert alert-info alert-dismissible">
            <a href="{{ cpUrl("plugin-store/freeform") }}">
                {{ "Upgrade to Pro to enable"|t('freeform') }}
            </a>
        </div>
    {% endif %}

{% endblock %}

{% css %}
    #content { padding: 0; }
{% endcss %}

{% js %}
    var adminTable = new Craft.AdminTable({
    tableSelector: '#webhooks',
    noObjectsSelector: '#no-webhooks',
    newObjectBtnSelector: '#new-webhooks',
    deleteAction: 'freeform/webhooks/delete',
    confirmDeleteMessage: '{{ "Are you sure you want to remove the “{name}” webhook?"|t('freeform') }}'
    });
{% endjs %}
