{% include "freeform/dashboard/_assets/header" with {
    title: "Integrations"|t("freeform"),
    count: integrations|length,
    links: [
        { link: url("freeform/settings/mailing-lists"), label: "Mailing Lists"|t("freeform"), permission: "freeform-settingsAccess" },
        { link: url("freeform/settings/crm"), label: "CRM"|t("freeform"), permission: "freeform-settingsAccess" },
        { link: url("freeform/settings/payment-gateways"), label: "Payment Gateways"|t("freeform"), permission: "freeform-settingsAccess" },
    ]
} %}

<ul class="integration-list">
    {% for integration in integrations %}
        <li data-auth-check
            data-integration-id="{{ integration.id }}"
            data-integration-type="{{ integration.type }}"
        >
            <span class="color-indicator"
                  data-auth-indicator
                  style="background-color: gray;"
            ></span>

            {% if currentUser.can("freeform-settingsAccess") %}
                <a href="{{ integration.cpEditUrl }}">
                    {{ integration.name }}
                </a>
            {% else %}
                {{ integration.name }}
            {% endif %}

            (<span data-auth-text
                   data-auth-success="{{ "live"|t }}"
                   data-auth-error="{{ "error"|t }}"
            >{{ "checking"|t }}</span>)
        </li>
    {% endfor %}
</ul>
