<ul class="setting-circles">
    {% for item in settings %}
        {% if item.delimiter is defined %}

            <li class="delimiter"></li>

        {% else %}

            <li>
                <span class="color-indicator" style="background-color: {{ item.enabled ? '#56AB68' : '#A7A8AA' }}"></span>
                {{ item.label|t('freeform') }} {{ (item.enabled ? 'enabled' : 'disabled')|t('app') }}
                {{ item.extra is defined and item.extra ? '(' ~ item.extra ~ ')' }}
            </li>

        {% endif %}
    {% endfor %}
</ul>
