{% set links = [
    { link: url("freeform/submissions"), label: "Manage"|t("freeform"), permission: "freeform-submissionsManage" },
    { link: url("freeform/export-profiles"), label: "Export"|t("freeform"), forPro: true, permission: "freeform-pro-exportProfilesAccess" },
] %}

{% if isSpamFolderEnabled %}
    {% set links = links|merge([ { link: url("freeform/spam"), label: "Spam ({count})"|t("freeform", {count: totalSpamSubmissions}), class: "submit" }, ]) %}
{% endif %}

{% include "freeform/dashboard/_assets/header" with {
    title: "Submissions"|t("freeform"),
    count: submissionCount,
    links: links,
} %}

{% if submissions|length %}
    <table class="data fullwidth">
        <thead>
        <tr>
            <th>{{ "ID"|t('freeform') }}</th>
            <th>{{ "Title"|t('freeform') }}</th>
            <th>{{ "Form"|t('freeform') }}</th>
            <th>{{ "Date Created"|t('freeform') }}</th>
        </tr>
        </thead>

        <tbody>
        {% for submission in submissions %}
            <tr>
                <td>{{ submission.id }}</td>
                <td>
                    <div class="color-indicator" style="background-color: {{ submission.statusModel.color }}"></div>
                    {% if currentUser.can("freeform-submissionsManage") or currentUser.can("freeform-submissionsManage:" ~ submission.form.id) %}
                        <a href="{{ submission.cpEditUrl }}">
                            {{ submission.title }}
                        </a>
                    {% else %}
                        {{ submission.title }}
                    {% endif %}
                </td>
                <td>
                    <span class="color-indicator" style="background-color: {{ submission.form.color }};"></span>
                    {% if currentUser.can("freeform-formsManage") %}
                        <a href="{{ url("freeform/forms/" ~ submission.form.id) }}">
                            {{ submission.form }}
                        </a>
                    {% else %}
                        {{ submission.form }}
                    {% endif %}
                    </a>
                </td>
                <td>{{ submission.dateCreated|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ "You don't have any submissions yet!"|t("freeform") }}
{% endif %}
