/* Freeform default Grid CSS */
@use "sass:math";
@use "spinner";

$errorColor: #721c24;

@mixin clearfix {
  &:after {
    clear: both;
    display: table;
    content: "";
  }
}

.freeform-pages {
  padding: 0;
  margin: 0 0 10px;

  list-style: none;
  @include clearfix;

  li {
    float: left;
    margin: 0 10px 0 0;
  }
}

$gutter: 15px;
.freeform-row {
  display: block;
  margin: 0 (-$gutter);
  @include clearfix;

  .freeform-column {
    float: left;

    box-sizing: border-box;

    display: block;
    padding: 10px $gutter;
    @include clearfix;

    > .freeform-row:first-child {
      margin-top: -10px;
    }

    label {
      display: block;
    }

    .input-group-one-line {
      label {
        display: inline-block;
        padding-right: 10px;
      }
    }

    .freeform-label {
      font-weight: bold;

      &.freeform-required {
        &:after {
          margin-left: 5px;

          color: red;
          content: "*";
        }
      }
    }

    .freeform-input {
      box-sizing: border-box;
      display: block;
      width: 100%;

      &[type="checkbox"],
      &[type="radio"] {
        display: inline;
        width: auto;

        margin-right: 5px;
      }

      &.StripeElement {
        height: 30px;
        padding: 4px 2px;
        border: 1px solid #cccccc;
      }
    }

    .freeform-input-only-label {
      font-weight: normal;

      > .freeform-input {
        display: inline-block;
        width: auto;
        margin-right: 5px;
      }
    }

    .freeform-errors,
    .freeform-errors {
      padding: 0;
      margin: 5px 0 0;
      list-style: none;

      > li {
        color: red;
      }
    }

    .freeform-instructions {
      margin: 0 0 5px;
      font-size: 13px;
      color: #aba7a7;
    }
    @each $alignment in $alignments {
      &.freeform-column-content-align-#{$alignment} {
        text-align: $alignment;

        button:not(:first-of-type) {
          margin-left: 5px;
        }
      }
    }

    &.freeform-column-content-align-spread {
      button:first-child {
        float: left;
      }

      button:last-child {
        float: right;
      }
    }

    $alignments: left, center, right;
  }

  @for $i from 1 through 12 {
    .freeform-column-#{$i} {
      width: math.div(100%, 12) * $i;
    }
  }
}

.freeform-form-errors {
  padding: 15px;

  color: $errorColor;
  background: #f8d7da;

  border: 1px solid #f5c6cb;
  border-radius: 5px;

  > p {
    margin: 0;
  }
}

.freeform-form-has-errors {
  color: red;
}
