# Do not export those files in the Composer archive (lighter dependency)
.gitattributes export-ignore
.gitignore export-ignore
.github/ export-ignore

.nvmrc export-ignore
.php-cs-fixer* export-ignore
.phpunit* export-ignore
.prettier* export-ignore
.tsconfig.json export-ignore

composer.lock export-ignore
package-lock.json export-ignore
package.json export-ignore
lerna.json export-ignore

phpunit.xml export-ignore

packages/app export-ignore
packages/client export-ignore
packages/scripts export-ignore
packages/styles export-ignore
packages/plugin/src/Tests export-ignore

* text=auto
