#auth-checker {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto;

  align-items: center;
  gap: 10px;

  .actions {
    display: flex;
    gap: 5px;

    a {
      display: none;
      align-items: center;
      gap: 5px;

      font-size: 12px;

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }

  .status-indicator {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;

    width: fit-content;
    padding: 3px 8px;

    border-radius: 100px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;

    .status-dot {
      flex: 0 0 10px;

      display: block;
      width: 10px;
      height: 10px;

      border-radius: 10px;
    }

    .status-message {
      flex: 1;
      white-space: nowrap;
    }

    $statuses: (
      'authorized': (
        'status': #27ae60,
        'background': rgba(34, 197, 94, 0.2),
      ),
      'unauthorized': (
        'status': rgba(51, 197, 255, 1),
        'background': rgba(51, 197, 255, 0.2),
      ),
      'pending': (
        'status': #ccd1d6,
        'background': rgba(55, 65, 81, 0.05),
      ),
      'error': (
        'status': #d0021b,
        'background': rgba(239, 68, 68, 0.2),
      ),
    );

    @each $status, $props in $statuses {
      &[data-status='#{$status}'] {
        background-color: map-get($props, 'background');

        .status-dot {
          background: map-get($props, 'status');
          border: 1px solid map-get($props, 'status');
        }
      }
    }
  }
}

#auth-errors {
  display: none;

  margin-top: 10px;
  padding: 10px;

  color: var(--red-600);
  border: 1px solid var(--red-200);
  border-radius: 5px;
  background-color: var(--red-100);

  li {
    &[data-json] {
    }
  }
}
