@use '../main';
@use '../../shared/variables';
@use '../../shared/alerts';

table#integrations {
  th {
    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }
  }
}

.integration-version {
  font-size: 12px;
  font-family: monospace;
  color: #AAA;

  .prefix-v {
    color: #BBB;
  }

  .version-number {
    color: #414141;
  }

  &:before {
    content: '[';
  }

  &:after {
    content: ']';
  }
}

#auth-checker {
  margin-bottom: 10px;

  > div {
    display: none;

    &:before {
      content: '';
      position: relative;
      top: 1px;

      display: inline-block;
      width: 10px;
      height: 10px;

      margin-right: 5px;

      background: #ccd1d6;
      border: 1px solid #ccd1d6;
      border-radius: 10px;
    }
  }

  .authorized {
    &:before {
      border-color: #27ae60;
      background: #27ae60;
    }
  }

  .not-authorized {
    &:before {
      border-color: #d0021b;
      background: #d0021b;
    }

    .errors {
      color: #d0021b;
    }
  }

  .pending-status-check {
    display: block;
  }
}

.alert {
  margin-top: 30px;
}
