@use '../main';
@use '../../shared/variables';
@use '../../shared/alerts';

hr {
  margin-inline: calc(var(--xl) * -1);
}

table#integrations {
  th {
    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }
  }
}

.integration-version {
  font-size: 12px;
  font-family: monospace;
  color: #aaa;

  .prefix-v {
    color: #bbb;
  }

  .version-number {
    color: #414141;
  }

  &:before {
    content: '[';
  }

  &:after {
    content: ']';
  }
}

#integration-title {
  display: flex;
  align-items: center;
  gap: 10px;

  > img {
    width: 30px;
    height: 30px;
  }

  > span {
    font-size: 20px;
    font-weight: bold;
    color: #414141;
  }
}

.alert {
  margin-top: 30px;
}
