.label.payment-status {
  display: inline-block;
  height: 22px;
  padding: 0 7px;
  font-size: 11px;
  line-height: 22px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration: none;
  border-radius: 3px;

  &.unknown {
    /* TODO: get normal color */
    background: gray;
  }

  &.active,
  &.paid,
  &.succeeded {
    /* TODO: get normal color */
    background: green;
  }

  &.failed {
    /* TODO: get normal color */
    background: red;
  }

  &.inactive {
    /* TODO: get normal color */
    background: darkgray;
  }

  &.incomplete {
    color: #ffffff;
    background: #c5d0db;
  }

  ul.spam-reasons {
    margin-top: 5px;
    margin-left: 20px;
    font-style: italic;
    list-style-type: initial;
  }

  ul.spam-reasons li:not(:last-child) {
    margin-bottom: 5px !important;
  }
}
