@use "sass:math";

.color-indicator {
  display: inline-block;
  width: $size;
  height: $size;

  margin-right: 5px;

  border-radius: math.div($size, 2);

  box-shadow: inset 0 0 1px rgba(#000000, 0.6);
  $size: 10px;
}
