@import url(https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-light.min.css);

.markdown-show {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 600;

  color: var(--blue-500);

  svg {
    width: 14px;
    height: 14px;

    transition: transform 0.3s ease;
  }

  &:hover {
    color: var(--blue-600);
    text-decoration: underline;
  }

  &.active {
    svg {
      transform: rotate(90deg);
    }
  }
}

.markdown-instructions {
  position: relative;

  .markdown-toggle-checkbox {
    display: none;

    &:checked {
      & + .markdown-container {
        max-height: 500px;
        margin-top: 20px;
        overflow: auto;

        opacity: 1;

        .markdown-collapse {
          opacity: 1;
        }
      }

      & + .markdown-container + .markdown-blur {
        pointer-events: none;
        opacity: 0;
      }
    }
  }

  .markdown-collapse {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px;

    font-size: 12px;
    line-height: 12px;
    color: var(--gray-300);
    background: transparent;

    border: 1px solid var(--gray-300);
    border-radius: 30px;

    opacity: 0;

    transition: all 0.3s ease;

    &:hover {
      color: white;
      background: var(--gray-300);
    }
  }

  .markdown-container {
    position: relative;

    max-height: 0;
    margin-top: 0;

    background: #f3f7fc;
    border-radius: 3px;
    border: 1px solid #cbd6e2;

    overflow-y: auto;
    opacity: 0;
    transition: all 0.3s ease-out;

    $fg: var(--gray-300);
    $bg: var(--gray-100);

    scrollbar-width: thin;
    scrollbar-color: $fg $bg;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: $bg;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $fg;
    }
  }

  .markdown-blur {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    width: 100%;
    height: 100%;
    line-height: 30px;

    text-align: center;
    cursor: pointer;

    background: linear-gradient(
      transparent 0%,
      transparent 20%,
      white 80%,
      white 100%
    );

    transition: opacity 0.3s ease;

    span {
      display: block;
      padding: 5px 10px;
      font-size: 12px;
      line-height: 12px;

      color: white;
      cursor: pointer;
      background: var(--gray-300);

      border: 1px solid transparent;
      border-radius: 30px;
    }
  }

  .markdown-content {
    padding: 16px;

    font-size: 14px;

    pre {
      background: #d1ddea;
    }

    h3 {
      margin-bottom: 10px;
    }

    p {
      + ul,
      + ol {
        margin-top: -10px;
      }
    }

    ul,
    ol {
      padding-left: 20px;

      li {
        margin-top: 0.15em;

        > ul,
        > ol {
          margin-top: 0.15em;
        }
      }
    }

    ul {
      list-style: disc;
      ul {
        list-style: square;
        ul {
          list-style: circle;
          ul {
            list-style: disc;
            ul {
              list-style: square;
              ul {
                list-style: circle;
              }
            }
          }
        }
      }
    }

    ul li,
    ol li {
      .note {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    .note {
      display: block;
      padding: 7px 12px;
      border-radius: 5px;
    }

    .warning {
      border: 1px solid var(--warning-color);
    }

    .tip {
      color: #1f5fea;
      border: 1px solid #1f5fea;
    }

    .danger {
      color: var(--error-color);
      border: 1px solid var(--error-color);
    }

    hr {
      height: 1px;
    }
  }
}
