@use "../../shared/media-queries";

$gap: 20px;
$border-radius: 7px;

$color-grey: #e5e5e5;
$color-fill: #077bff;

@mixin progress-bg(
  $base: $color-grey,
  $fill: $color-fill,
  $progress: var(--progress)
) {
  background: $base;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: $progress;
    height: inherit;
    content: "";

    background-color: $fill;
    transition: background-color 0.5s ease-out;
  }
}

.freeform-file-dnd__input {
  --accent: #3a85ee;
  display: block;
  width: 100%;
  height: auto;

  padding: 67px $gap;
  color: #282828;
  text-align: center;

  cursor: pointer;
  background: #ffffff;
  border: 2px dashed var(--accent);

  border-radius: 7px;

  input[type="file"] {
    display: none !important;
  }

  [data-placeholder] {
    font-size: 1.25rem;
  }

  &[data-dragging] {
    color: #c6c6c6;
    background-color: #e7e7e7;
    border-style: solid;
  }

  &[data-contains-files] {
    padding: $gap;

    [data-placeholder] {
      display: none;
    }
  }

  [data-messages],
  [data-field-errors] {
    padding: 0 20px;
    margin: 0;

    > li {
      padding: 0;
      margin: 0;
      text-align: left;

      opacity: 1;
      transition: all 0.3s ease-out;

      &[data-error] {
        color: #ff0300;
      }

      &[data-animate-fade-out] {
        opacity: 0;
      }
    }
  }

  [data-field-errors] > li {
    color: #ff0300;
  }

  [data-preview-zone] {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $gap;

    @include media-queries.sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-queries.md {
      grid-template-columns: repeat(4, 1fr);
    }

    @include media-queries.lg {
      grid-template-columns: repeat(8, 1fr);
    }

    [data-file-preview] {
      cursor: initial;

      opacity: 1;
      transform: scale(1);
      transition: all 0.3s ease-out;

      &.animation-enter {
        opacity: 0;
        transform: scale(0.1);
      }

      &:hover {
        z-index: 2;
      }

      [data-thumbnail] {
        position: relative;

        width: 100%;
        height: 0;
        padding-bottom: 100%;
        background-color: #969797;
        background-position: center center;

        background-size: cover;

        [data-extension-label] {
          position: absolute;
          top: calc(50% - (36px / 2));
          right: 0;
          left: 0;

          display: block;
          font-size: 24px;

          color: #ffffff;
          text-align: center;
          user-select: none;
        }

        &[data-has-preview] [data-extension-label] {
          display: none;
        }

        [data-progress] {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;

          width: 100%;
          height: 4px;
          overflow: hidden;
          transition: opacity 0.5s ease-out 3s;

          @include progress-bg();
        }

        [data-remove-button] {
          position: absolute;
          top: -9px;
          right: -9px;

          display: flex;
          align-items: center;
          justify-content: center;

          width: 20px;
          height: 20px;
          color: #878787;
          cursor: pointer;

          background: #e6e5e5;

          border: 1px solid #e6e5e5;
          border-radius: 50%;

          transition: all 0.2s ease-out;

          &:hover {
            color: #ffffff;
            background: var(--accent);
            border: 1px solid var(--accent);
          }
        }

        [data-errors] {
          position: absolute;
          right: -12px;
          bottom: -10px;
          z-index: 2;

          width: 26px;
          height: 26px;
          line-height: 26px;
          color: #ffffff;
          cursor: pointer;

          background: #ff0300;

          border: 1px solid #ff0300;
          border-radius: 50%;

          &[aria-label=""],
          &:not([aria-label]) {
            display: none;
          }

          &[aria-label] + [data-progress]:after {
            background: #ff0300;
          }
        }
      }

      [data-filename],
      [data-filesize] {
        display: block;
        padding: 0;
        margin: 0;

        text-align: left;
      }

      [data-filename] {
        font-size: 0.875rem;
        color: #5c5c5c;
        word-break: break-all;
      }

      [data-filesize] {
        font-size: 0.8125rem;
        color: #b1b1b1;
      }

      &[data-completed] {
        [data-progress] {
          opacity: 0;

          &:after {
            background: rgb(33, 221, 33);
          }
        }
      }
    }
  }

  &[data-theme="dark"] {
    color: #656666;
    background: #222222;

    &[data-dragging] {
      background-color: #171717;
    }

    [data-preview-zone] {
      [data-file-preview] {
        [data-filename],
        [data-placeholder] {
          color: #bababa;
        }

        [data-remove-button] {
          color: #bababa;
          background-color: #666666;
          border-color: #666666;
        }

        [data-filesize] {
          color: #787878;
        }

        [data-errors]:after {
          color: #000000;
          background: #dadada;
        }
      }
    }
  }
}
