$borderColor: #cccccc;

.opinion-scale {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .opinion-scale-scales {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 0;

    > * {
      > label {
        display: block;
        padding: 6px 12px;
        margin: 0 0 5px;
        color: black !important;
        text-align: center;

        white-space: nowrap;
        cursor: pointer;

        border: 1px solid $borderColor;
        border-left: none;
      }

      input {
        position: absolute;
        top: -9999px;
        left: -9999px;
        visibility: hidden;
        width: 1px;
        height: 1px;
        overflow: hidden;

        &:checked ~ label {
          background: #e6e6e6;
        }
      }
      &:first-child {
        > label {
          border-left: 1px solid $borderColor;

          border-top-left-radius: $rad;
          border-bottom-left-radius: $rad;
        }
      }

      &:last-child {
        > label {
          border-top-right-radius: $rad;
          border-bottom-right-radius: $rad;
        }
      }

      $rad: 3px;
    }
  }

  ul.opinion-scale-legends {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 0;

    li {
      text-align: center;
    }

    li:first-child {
      text-align: left;
    }

    li:last-child {
      text-align: right;
    }
  }
}
