#freeform-beta-feedback-widget {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100;

  display: flex;
  flex-direction: column;

  width: 180px;
  height: 32px;

  overflow: hidden;

  background-color: #e4edf6;
  border: 1px solid #394b60;
  border-radius: 4px;

  transition: width 0.2s ease-out, height 0.2s ease-out;

  > a {
    position: relative;
    transition: all 0.7s ease-out;

    > span {
      display: none;
    }

    > span.icon {
      position: absolute;
      top: 8px;
      right: 8px;

      display: none;
    }
  }

  &.expanded {
    width: 350px;
    height: 350px;

    > a {
      color: white;
      background: #394b60;

      > span {
        display: inline;

        &.icon {
          display: block;

          &:before {
            color: white;
          }
        }
      }
    }
  }

  &.submitted {
    width: 120px;

    > a,
    > div {
      display: none;
    }

    > span {
      display: block;
    }
  }

  > a,
  > span {
    flex: 0;

    padding: 6px 20px;
    font-weight: bold;

    color: #394b60;

    &:hover {
      text-decoration: none;
    }
  }

  > span {
    display: none;
    text-align: center;
  }

  > div {
    > form {
      flex: 1;

      padding: 0 20px;

      > div {
        padding: 5px 0;

        &.stars {
          display: flex;
          justify-content: flex-start;

          .star {
            width: 30px;
            height: 30px;
            color: #6c7a8c;
            cursor: pointer;

            .star-filled {
              display: none;
            }

            .star-empty {
              display: block;
            }

            &.selected,
            &.hover {
              .star-filled {
                display: block;
              }

              .star-empty {
                display: none;
              }
            }

            &.hover {
              .star-filled {
                color: #9cabba;
              }
            }
          }
        }
      }
    }
  }
}
