{% extends "freeform/submissions/_edit_base.html" %}
{% import "_includes/forms" as forms %}

{% set title = "{title}"|t('freeform', {title: title}) %}
{% set selectedSubnavItem = "submissions" %}
{% set saveShortcutRedirect = 'freeform/submissions/{id}' %}
{% set fullPageForm = true %}
{% set actionUrl = 'freeform/submissions/save' %}

{% set crumbs = [
    { label: craft.freeform.name, url: url('freeform') },
    { label: "Forms"|t("freeform"), url: url('freeform/forms') },
    { label: submission.form.name, url: url('freeform/forms/' ~ submission.form.id) },
    { label: "Submissions"|t('freeform'), url: url('freeform/submissions') },
] %}
