{% extends "freeform/_layouts/main" %}
{% import "_includes/forms" as forms %}

{% set title = "{title}"|t('freeform', {title: title}) %}
{% set selectedSubnavItem = "submissions" %}
{% set saveShortcutRedirect = 'freeform/submissions/{id}' %}
{% set fullPageForm = true %}

{% set crumbs = [
    { label: craft.freeform.name, url: url('freeform') },
    { label: "Submissions"|t('freeform'), url: url('freeform/submissions') },
    { label: title, url: '' },
] %}

{% block actionButton %}
    <div class="buttons">
        <div class="btngroup submit">
            <input type="submit" class="btn submit" value="{{ 'Save'|t('freeform') }}">

            <div class="btn submit menubtn"></div>
            <div class="menu">
                <ul>
                    <li>
                        <a class="formsubmit" data-redirect="{{ continueEditingUrl|hash }}">
                            {{ "Save and continue editing"|t('freeform') }}
                            <span class="shortcut">⌘S</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}
    <form method="post"
          id="asset_download"
          style="height: 0; width: 0; position: absolute; left: -99999px;">
        <input type="hidden" name="action" value="assets/download-asset"/>
        <input type="hidden" name="assetId" value=""/>
        {{ csrfInput() }}
    </form>
{% endblock %}

{% block tabs %}
    <nav id="tabs">
        <ul>
            {% for page in layout.pages %}
                <li>
                    <a href="javascript:;"
                       data-tab-id="{{ page.index }}"
                       class="tab{% if loop.first %} sel{% endif %}">
                        {{ page.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <input type="hidden" name="action" value="freeform/submissions/save">
    <input type="hidden" name="submissionId" value="{{ submission.id }}">
    {{ redirectInput('freeform/submissions') }}
    {{ csrfInput() }}


    <div id="fields">
        {% for page in layout.pages %}
            <div class="field tab-content{% if not loop.first %} hidden{% endif %}" data-for-tab="{{ page.index }}">
                {% for field in layout.hiddenFields if field.pageIndex == page.index %}
                    {% set fieldHandle = "field_" ~ field.id %}

                    <div class="fields-row">
                        <div class="fields-column">
                            {% set options = {
                                label: field.label,
                                name: fieldHandle,
                                id: fieldHandle,
                                value: attribute(submission, fieldHandle),
                                required: field.required,
                                errors: submission.errors(fieldHandle),
                                first: loop.index0 == 0,
                            } %}

                            {{ forms.textField(options) }}
                        </div>
                    </div>
                {% endfor %}

                {% for row in page %}
                    <div class="fields-row">
                        {%- for field in row if field.type not in ["submit", "confirmation"] -%}
                            <div class="fields-column{{ field.required ? " field-required" : "" }}">
                                {% set fieldHandle = "field_" ~ field.id %}

                                {% if field.canStoreValues %}
                                    {% set value = attribute(submission, fieldHandle).value %}

                                    {% set options = {
                                        label: field.label,
                                        name: fieldHandle,
                                        id: fieldHandle,
                                        value: value,
                                        required: field.required,
                                        errors: submission.errors(fieldHandle),
                                        first: loop.index0 == 0,
                                    } %}

                                    {% if field.type in ["text", "confirmation", "datetime", "number", "phone", "regex", "website"] %}
                                        {{ forms.textField(options|merge({
                                            placeholder: field.placeholder,
                                        })) }}
                                    {% elseif field.type == "checkbox" %}
                                        {% set checkboxInput %}
                                            {{ forms.checkboxField({
                                                label: field.label,
                                                name: fieldHandle,
                                                id: fieldHandle,
                                                checked: value ? true : false,
                                                value: field.value,
                                            }) }}
                                        {% endset %}

                                        {{ forms.field({
                                            label: null,
                                            class: "checkbox-field",
                                            errors: submission.errors(fieldHandle),
                                            required: field.required,
                                        }, checkboxInput) }}
                                    {% elseif field.type == "email" %}
                                        {% set emailValue = value %}

                                        {% set emailInputs %}
                                            {% for value in emailValue %}
                                                {{ forms.text(options|merge({
                                                    name: fieldHandle ~ "[]",
                                                    value: value,
                                                    placeholder: field.placeholder,
                                                })) }}
                                            {% else %}
                                                {{ forms.text(options|merge({
                                                    name: fieldHandle ~ "[]",
                                                    value: "",
                                                    placeholder: field.placeholder,
                                                })) }}
                                            {% endfor %}
                                        {% endset %}

                                        {{ forms.field({
                                            label:    field.label,
                                            errors:   submission.getErrors(fieldHandle),
                                            required: field.required,
                                        }, emailInputs) }}

                                    {% elseif field.type == "textarea" %}
                                        {{ forms.textareaField(options|merge({
                                            placeholder: field.placeholder,
                                            rows: field.rows,
                                        })) }}
                                    {% elseif field.type == "select" %}
                                        {{ forms.selectField(options|merge({
                                            options: field.options,
                                        })) }}
                                    {% elseif field.type == "checkbox_group" %}
                                        {{ forms.checkboxSelectField(options|merge({
                                            showAllOption: false,
                                            options: field.optionsAsKeyValuePairs,
                                            values: value,
                                        })) }}
                                    {% elseif field.type == "dynamic_recipients" %}
                                        {{ forms.selectField(options|merge({
                                            options: field.optionsAsKeyValuePairs,
                                            value: value,
                                        })) }}
                                    {% elseif field.type == "radio_group" %}
                                        {{ forms.radioGroupField(options|merge({
                                            options: field.optionsAsKeyValuePairs,
                                        })) }}
                                    {% elseif field.type == "rating" %}

                                        <div class="field">
                                            <div class="heading">
                                                <label>{{ field.label }}</label>
                                            </div>
                                            <div>
                                                {% set field = field.setValue(value) %}
                                                {{ field.renderInput|replace(field.handle, 'field_' ~ field.id)|raw }}
                                            </div>
                                        </div>

                                    {% elseif field.type == "file" %}
                                        <div class="field">
                                            <div class="heading">
                                                <label>{{ field.label }}</label>
                                            </div>
                                            <div>
                                                {% set assets = submission.getAssets(fieldHandle) %}

                                                {% if assets %}
                                                    {% for asset in assets if asset is not null %}
                                                        {% set thumbSizes = [30, 60, 100, 200] %}
                                                        {% set srcset = "" %}
                                                        {%- for size in thumbSizes -%}{% set srcset = srcset ~ ", " ~ asset.thumbUrl(size) ~ " " ~ size ~ "w" %}{%- endfor -%}
                                                        {% set srcset = srcset|trim(", ") %}

                                                        <div class="element small hasthumb">
                                                            <div class="elementthumb">
                                                                <img sizes="30px" srcset="{{ srcset }}" alt="">
                                                            </div>
                                                            <label>
                                                                <a href="javascript:;" data-asset-id="{{ asset.id }}">
                                                                    {{ asset.title }}
                                                                </a>
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    {{ "No files uploaded"|t('freeform') }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}

                                {% else %}
                                    {% if field.type == "mailing_list" %}
                                        {{ forms.checkboxField({
                                            label: field.label,
                                            name: fieldHandle,
                                            id: fieldHandle,
                                            required: field.required,
                                            errors: submission.errors(fieldHandle),
                                        }) }}
                                    {% else %}
                                        {{ field.render }}
                                    {% endif %}
                                {% endif %}

                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block details %}

    <div id="settings" class="meta">

        {{ forms.textField({
            label: "Title"|t('freeform'),
            id: 'title',
            name: 'title',
            value: submission.title,
            placeholder: "Enter title"|t('freeform'),
            errors: submission.getErrors('title')|merge(submission.getErrors('uri')),
        }) }}

        {{ forms.hidden({
            id: "statusId",
            name: "statusId",
            value: submission.statusId,
            errors: [],
            required: true
        }) }}

        {% set statusField %}
            <div>
                {% set selectedStatus = statuses[submission.statusId] ? statuses[submission.statusId] : statuses|first %}

                <a id="status-menu-btn" class="btn menubtn" href="#">
                    <span class="status {{ selectedStatus.color }}"></span>
                    {{ selectedStatus.name|t('freeform')|title }}
                </a>
                <div class="menu" id="status-menu-select">
                    <ul class="padded">
                        {% for status in statuses %}
                            <li>
                                <a {% if selectedStatus.color == status.color %}class="sel"{% endif %}
                                   data-id="{{ status.id }}"
                                   data-name="{{ status.name }}"
                                   data-color="{{ status.color }}"
                                   href="#">
                                    <span class="status {{ status.color }}"></span>
                                    {{ status.name|t('freeform')|title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endset %}

        {{ forms.field({
            label: 'Status'|t('freeform'),
        }, statusField) }}

    </div>


    {% if submission.id %}

        <hr>

        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ "Date Created"|t('freeform') }}</h5>
                <div class="value">{{ submission.dateCreated|date('short') }} {{ submission.dateCreated|time('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Date Updated"|t('freeform') }}</h5>
                <div class="value">{{ submission.dateUpdated|date('short') }} {{ submission.dateUpdated|time('short') }}</div>
            </div>
        </div>

        <hr>

    {% endif %}

{% endblock %}
