{% extends "freeform/_layouts/elementType" %}

{% set title = "Submissions"|t('freeform') %}
{% set selectedSubnavItem = 'submissions' %}
{% set elementType = 'Solspace\\Freeform\\Elements\\Submission' %}

{% css %}

    {% for status in statuses %}
        .status.{{ status.name }} {
            border: 1px solid  rgba(0, 0, 0, 0.20) !important;
            background-color: {{ status.colorHex }};
        }
    {% endfor %}

{% endcss %}


{% if formHandle is defined %}
    {% js %}
        window.defaultFormHandle = '{{ formHandle }}';
    {% endjs %}
{% endif %}
