{% extends "freeform/_layouts/elementType" %}

{% set title = craft.freeform.name ~ ": " ~ ("Submissions"|t('freeform')) %}
{% set selectedSubnavItem = 'submissions' %}
{% set elementType = 'Solspace\\Freeform\\Elements\\Submission' %}

{% block body %}
    {{ parent() }}
    <form method="post"
          id="asset_download"
          style="height: 0; width: 0; position: absolute; left: -99999px;">
        <input type="hidden" name="action" value="assets/download-asset"/>
        <input type="hidden" name="assetId" value=""/>
        {{ csrfInput() }}
    </form>
{% endblock %}

{% css %}

    {% for status in statuses %}
        .status.{{ status.name }} {
            border: 1px solid  rgba(0, 0, 0, 0.20) !important;
            background-color: {{ status.colorHex }};
        }
    {% endfor %}

{% endcss %}


{% if formHandle is defined %}
    {% js %}
        window.defaultFormHandle = '{{ formHandle }}';
    {% endjs %}
{% endif %}