.diagnostic-color {
  &-error {
    color: #d52817;
  }

  &-pass {
    color: #60aa55;
  }

  &-base {
    color: #5a6875;
  }

  &-pass,
  &-base {
    font-style: italic;
  }

  &-error,
  &-pass,
  &-base {
    font-weight: bold;
  }
}

.banner {
  margin-bottom: 20px;
  position: relative;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;

  h2 {
    position: relative;
    margin: 0;
    padding: 10px 10px 10px 35px;
    color: #ffffff;
  }

  ul {
    margin: 0;
    padding: 15px 20px;

    > li {
      &:not(:last-child) {
        padding-bottom: 15px;
      }

      h4 {
        margin: 0;
        padding: 0;
      }

      p {
        margin: 0;
        padding: 0;

        line-height: 16px;
      }
    }
  }

  &-check {
    border-color: #60aa55;

    h2,
    svg {
      color: #60aa55;
    }
  }

  &-close {
    cursor: pointer;
    height: 16x;
    width: 16px;
    margin: 10px 10px 10px 35px;
  }

  &-warnings,
  &-suggestions,
  &-check {
    h2 {
      svg {
        position: absolute;
        top: 12px;
        left: 10px;

        width: 16px;
        height: 16px;
      }
    }
  }

  &-warnings {
    border-color: #f28d03;

    h2,
    svg {
      color: #f28d03;
    }
  }

  &-suggestions {
    border-color: #009adb;

    h2,
    svg {
      color: #009adb;
    }
  }
}

.gridy {
  display: grid;
  gap: 40px;
  grid-template-columns: 35% auto;

  @media (max-width: 750px) {
    grid-template-columns: 1fr;
  }
}

.diag {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.diag-list {
  > ul {
    > li {
      padding: 1px 0;

      svg {
        position: relative;
        top: 3px;

        flex-basis: 14px;

        width: 14px;
        height: 14px;
      }

      h3 {
        padding: 5px 0 10px 0;
        margin: 0;
      }

      > ul:not(.notices) {
        > li {
          padding: 1px 0;

          &:last-child {
            margin-bottom: 10px;
          }
        }
      }

      ul.notices {
        > li {
          font-style: italic;
          font-size: 12px;

          &.suggestionvalidator {
            color: #009adb;
          }

          &.warningvalidator {
            color: #f28d03;

            > a {
              color: #f28d03;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.items {
  display: flex;
  gap: 5px;

  > .item {
    display: flex;
    gap: 5px;

    svg {
      position: relative;
      top: 3px;

      flex-basis: 14px;

      width: 14px;
      height: 14px;
    }

    &-warnings {
      color: #f28d03;

      svg {
        color: #f28d03;
      }
    }

    &-suggestions {
      color: #009adb;

      svg {
        color: #009adb;
      }
    }
  }
}
