.diagnostic-color {
  &-error {
    color: #d52817;
  }

  &-pass {
    color: #60aa55;
  }

  &-base {
    color: #5a6875;
  }

  &-pass,
  &-base {
    font-style: italic;
  }

  &-error,
  &-pass,
  &-base {
    font-weight: bold;
  }
}

.banner {
  margin-bottom: 10px;
  position: relative;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;

  h2 {
    position: relative;
    margin: 0;
    padding: 10px 10px 10px 35px;
    color: #ffffff;
  }

  ul {
    margin: 0;
    padding: 15px 20px;

    > li {
      &:not(:last-child) {
        padding-bottom: 15px;
      }

      h4 {
        margin: 0;
        padding: 0;
      }

      p {
        margin: 0;
        padding: 0;

        line-height: 16px;
      }
    }
  }

  &-check {
    border-color: var(--enabled-color);

    h2,
    svg {
      color: var(--enabled-color);
    }
  }

  &-close {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 10px 10px 10px 35px;
  }

  &-warnings,
  &-suggestions,
  &-check {
    h2 {
      svg {
        position: absolute;
        top: 12px;
        left: 10px;

        width: 16px;
        height: 16px;
      }
    }
  }

  &-warnings {
    border-color: var(--warning-color);

    h2,
    svg {
      color: var(--warning-color);
    }
  }

  &-suggestions {
    border-color: var(--notice-color);

    h2,
    svg {
      color: var(--notice-color);
    }
  }
}

.gridy {
  display: grid;
  gap: 40px;
  grid-template-columns: 23% 45% 22%;
  margin-top: 20px;

  @media (min-width: 800px) and (max-width: 1399px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 799px) {
    grid-template-columns: 1fr;
  }
}

.diag {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.diag-list {

  > h2 {
    margin: 6px 0;
  }

  > ul {
    margin-left: 20px;

    > li {
      padding: 2px 0;

      svg {
        position: relative;
        top: 4px;

        flex-basis: 14px;

        width: 14px;
        height: 14px;
      }

      h3 {
        padding: 5px 0 10px 0;
        margin: 0;
        margin-left: -20px;
      }

      code {
        font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
        font-size: .8em !important;
        background-color: var(--gray-100);
        border: 1px solid var(--hairline-color);
        border-radius: var(--small-border-radius);
        padding: 1px 5px;
      }

      > ul:not(.validators) {
        > li {
          padding: 1px 0;

          &:last-child {
            margin-bottom: 10px;
          }
        }
      }

      ul.validators {
        > li {
          font-style: italic;
          font-size: 12px;
          margin-left: -2px;

          &.suggestionvalidator {
            color: var(--notice-color);

            > a {
              color: var(--notice-color);
              text-decoration: underline;
            }
          }

          &.warningvalidator {
            color: var(--warning-color);

            > a {
              color: var(--warning-color);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &.diag-no-margin {
  
    > ul {
      margin-left: 0;
    }
  }
}

.diag-check {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5.5px 3px 0 -20px;
  text-align: center;

  &.diag-enabled {
    background: var(--enabled-color);
  }

  &.diag-disabled {
    background: transparent;
    box-shadow: inset 0 0 0 2px var(--gray-300);
  }

  &.diag-warning {
    background: var(--warning-color);
  }

  &.diag-info {
    background: var(--notice-color);
  }

  &.diag-spacer {
    background: transparent;
  }
}

.items {
  display: flex;
  gap: 5px;

  > .item {
    display: flex;
    gap: 5px;
    line-height: 1.5;

    svg {
      position: relative;
      top: 4px;

      flex-basis: 14px;

      width: 14px;
      height: 14px;
    }

    > .item-inline {
      display: inline;
    }

    &-warnings {
      color: var(--warning-color);

      svg {
        color: var(--warning-color);
      }
    }

    &-suggestions {
      color: var(--notice-color);

      svg {
        color: var(--notice-color);
      }
    }
  }
}
