@import "cards";

.icon img svg {
  color: #4e4e4e;
}

.community-card {
  .icon {
    width: 75px;
    height: 75px;
    margin: 20px auto;

    svg {
      color: #4e4e4e;
    }
  }

  h3 {
    color: #616161;
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-weight: normal;
    transition: all .5s ease-out;

    a {
      color: #1D97F3;
    }
  }

  .description {
    padding: 15px 10% 20px;
    margin: 0;
    font-size: 14px;
    font-style: italic;
  }
}


.explore-card {
  .icon {
    width: 75px;
    height: 75px;
    margin: 20px auto 20px;

    svg {
      color: #4e4e4e;
    }
  }

  h1 {
    color: #616161;
    font-size: 25px;
    font-weight: normal;
    margin: 0;
  }

  h4 {
    color: #616161;
    padding: 0 0 6px;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    transition: all .5s ease-out;

    a {
      color: #1D97F3;
    }
  }

  p {
    padding: 15px 10% 0;
    margin: 0;
    font-size: 14px;
    font-style: italic;
  }

  ul {
    margin-top: 20px;

    li {
      color: gray;
      padding: 0 5% 5px;
    }
  }
}

li.active h1 {
  color: #67AC5B;
}

.card-footer {
  span {
    font-size: 16px;
  }
}
