@import '../main';

#throttling-count {
  width: 100px;
  text-align: right;
}

#throttling-time-frame {
}

ul.freeform-settings-list {
  list-style-type: disc;
  padding-left: 20px !important;

  > li {
    font-weight: 600
  }
}