@use "../main";

#throttling-count {
  width: 100px;
  text-align: right;
}

ul.freeform-settings-list {
  padding-left: 20px !important;
  list-style-type: disc;

  > li {
    font-weight: 600;
  }
}

.field.smart-switch {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 16px;
}

.categories,
.category-item-list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  #checkbox-select-file-kinds {
    column-count: 3;
  }
}

.categories.delimited {
  > li {
    &:not(:last-child):after {
      display: block;
      margin: 8px -24px;
      content: "";
      border-bottom: 1px solid #e1e1e16d;
    }
  }
}

.category-item-list {
  li {
    display: grid;
    grid-template-columns: 35% 40% auto;
    gap: 20px;

    label {
      display: flex;
      gap: 5px;
      align-items: center;

      svg {
        width: 11px;
        height: 11px;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      min-height: 34px;
    }

    button {
      position: relative;

      width: 34px;
      height: 34px;

      span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      & span.locked {
        opacity: 0;
        fill: #e21e25;

        svg {
          position: relative;
          left: -2px;
        }
      }

      & span.unlocked {
        opacity: 1;
        fill: #1fa07b;
      }

      input.locked {
        pointer-events: none;
        user-select: none;
        border: 1px solid red;

        & + span.locked {
          opacity: 1;
        }

        & + span + span.unlocked {
          opacity: 0;
        }
      }
    }
  }
}

#purge-forms {
  max-height: 200px;
  overflow-y: auto;

  input[disabled],
  input[disabled] + label {
    pointer-events: none;
    opacity: 0.5;
  }
}
