$white: var(--white);
$red: red;
$textColor: var(--text-color);
$gray: #aba7a7;
$darkRed: #721c24;
$backgroundPrimary: var(--primary-color);
$backgroundSecondary: var(--white);

@keyframes freeform-processing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.freeform-widget-quick-form {
  button[type="submit"] {
    --ui-control-active-color: var(--white);
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--ui-control-height);
    padding: 7px 14px;
    font-size: inherit;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $white !important;
    text-align: center;
    white-space: nowrap;
    appearance: none;
    cursor: pointer;
    user-select: none;
    background-color: $backgroundPrimary !important;
    border: none;
    border-radius: var(--ui-control-border-radius);
  }

  .freeform-pages {
    padding: 0;
    margin: 0 0 10px;
    list-style: none;

    &:after {
      clear: both;
      display: table;
      content: "";
    }

    li {
      float: left;
      margin: 0 10px 0 0;
    }
  }

  .freeform-row {
    display: block;
    margin: 0 -15px;

    &:after {
      clear: both;
      display: table;
      content: "";
    }

    .freeform-column {
      float: left;
      box-sizing: border-box;
      display: block;
      padding: 10px 15px;

      &:after {
        clear: both;
        display: table;
        content: "";
      }

      > .freeform-row {
        &:first-child {
          margin-top: -10px;
        }
      }

      label {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .input-group-one-line {
        label {
          display: inline-block;
          padding-right: 10px;
        }
      }

      .freeform-label {
        font-weight: bold;
      }

      .freeform-label.freeform-required {
        &:after {
          margin-left: 5px;
          color: $red;
          content: "*";
        }
      }

      .freeform-input {
        box-sizing: border-box;
        display: block;
        width: 100%;
        min-height: 2.125rem;
        padding: 6px 9px;
        font-size: 14px;
        line-height: 20px;
        color: $textColor;
        background-color: $backgroundSecondary;
        background-clip: padding-box;
        border: 1px solid rgba(96, 125, 159, 0.25);
        border-radius: 3px;
      }

      .freeform-input[type="checkbox"] {
        display: inline;
        width: auto;
        min-height: auto;
        margin: 0;
        margin-right: 5px;
      }

      .freeform-input[type="radio"] {
        display: inline;
        width: auto;
        min-height: auto;
        margin: 0;
        margin-right: 5px;
      }

      .freeform-input.StripeElement {
        height: 36px;
        padding: 4px 2px;
        border: 1px solid #ccc;
      }

      .freeform-input-only-label {
        font-weight: normal;

        > .freeform-input {
          display: inline-block;
          width: auto;
          margin-right: 5px;
        }
      }

      .freeform-errors {
        padding: 0;
        margin: 5px 0 0;
        list-style: none;

        > li {
          color: $red;
        }
      }

      .freeform-instructions {
        margin: 0 0 5px;
        font-size: 13px;
        color: $gray;
      }
    }

    .freeform-column-1 {
      width: 8.3333333333%;
    }

    .freeform-column-2 {
      width: 16.6666666667%;
    }

    .freeform-column-3 {
      width: 25%;
    }

    .freeform-column-4 {
      width: 33.3333333333%;
    }

    .freeform-column-5 {
      width: 41.6666666667%;
    }

    .freeform-column-6 {
      width: 50%;
    }

    .freeform-column-7 {
      width: 58.3333333333%;
    }

    .freeform-column-8 {
      width: 66.6666666667%;
    }

    .freeform-column-9 {
      width: 75%;
    }

    .freeform-column-10 {
      width: 83.3333333333%;
    }

    .freeform-column-11 {
      width: 91.6666666667%;
    }

    .freeform-column-12 {
      width: 100%;
    }
  }

  .freeform-group {
    width: 100%;
    padding: 0 15px;
    .freeform-label {
      font-weight: bold;
    }
  }

  .freeform-form-errors {
    padding: 15px;
    color: $darkRed;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;

    > p {
      margin: 0;
    }
  }
}
