{% extends "freeform/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = "settings" %}
{% set title = "Demo Templates"|t('freeform') %}

{% block actionButton %}{% endblock %}

{% block content %}

    <div>
        {% set stats = {
        templates: codePack.templates.contents.fileCount,
        assets: codePack.assets.contents.fileCount
        } %}

        {{ "Successfully installed <b>{templates} templates</b> and <b>{assets} assets</b>"|t('freeform', stats)|raw }}
    </div>
    <div>
        {{ "You can view the templates <a href='{link}'>here</a>"|t('freeform', {link: (siteUrl ~ prefix ~ '/')})|raw }}
    </div>

{% endblock %}
