{% extends "freeform/_layouts/main" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = "forms" %}

{% set crumbs = [
    { label: craft.freeform.name, url: url('freeform') },
    { label: "Forms"|t('freeform'), url: url('freeform/forms') },
] %}

{% block actionButton %}

    <div id="freeform-save-commands" class="buttons composer-save">
        <div class="btngroup submit">
            <input
                type="submit"
                value="{{ "Quick save"|t("freeform") }}"
                class="btn submit"
            />

            <div class="btn submit menubtn"></div>
            <div class="menu">
                <ul>
                    <li>
                        <a class="formsubmit gotoFormList">
                            {{ "Save and finish"|t("freeform") }}
                        </a>
                    </li>
                    <li>
                        <a class="formsubmit gotoNewForm">
                            {{ "Save and add another"|t("freeform") }}
                        </a>
                    </li>
                    <li>
                        <a class="formsubmit duplicateForm">
                            {{ "Save as a new form"|t("freeform") }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block header %}
    {{ block('pageTitle') }}
    {{ block('contextMenu') }}
    <div class="flex-grow"></div>
    {{ block('actionButton') }}
{% endblock %}

{% block content %}
    <script>
      var formId                    = {{ form.id ? form.id : "null" }};
      var fieldList                 = {{ fieldList|raw }};
      var fieldTypeList             = {{ fieldTypeList|raw }};
      var notificationList          = {{ notificationList|raw }};
      var mailingList               = {{ mailingList|raw }};
      var crmIntegrations           = {{ crmIntegrations|raw }};
      var paymentGatewayList        = {{ paymentGatewayList|raw }};
      var composerState             = {{ form.layoutAsJson|raw }};
      var formStatuses              = {{ statuses|raw }};
      var assetSources              = {{ assetSources|raw }};
      var solspaceFormTemplates     = {{ solspaceFormTemplates|raw }};
      var formTemplateList          = {{ formTemplates|raw }};
      var fileKinds                 = {{ fileKinds|raw }};
      var showTutorial              = {{ showTutorial ? "true" : "false" }};
      var defaultTemplates          = {{ defaultTemplates ? "true" : "false" }};
      var canManageFields           = {{ canManageFields ? "true" : "false" }};
      var canManageNotifications    = {{ canManageNotifications? "true" : "false" }};
      var canManageSettings         = {{ canManageSettings? "true" : "false" }};
      var isDbEmailTemplateStorage  = {{ isDbEmailTemplateStorage ? "true" : "false" }};
      var isPro                     = {{ craft.freeform.pro ? "true" : "false" }};
      var isRulesEnabled            = {{ isRulesEnabled ? "true" : "false" }};
      var isRecaptchaEnabled        = {{ isRecaptchaEnabled ? "true" : "false" }};
      var isPaymentEnabled          = {{ isPaymentEnabled ? "true" : "false" }};
      var isInvisibleRecaptchaSetUp = {{ isInvisibleRecaptchaSetUp ? "true" : "false" }};
      var isCommerceEnabled         = {{ isCommerceEnabled ? "true" : "false" }};
      var sourceTargets             = {{ sourceTargets|raw }};
      var craftFields               = {{ craftFields|raw }};
      var customFields              = {{ customFields|raw }};
      var generatedOptions          = {{ generatedOptions|raw }};
      var sites                     = {{ sites|raw }};
      var currentSiteId             = {{ currentSiteId }};
      var renderFormHtmlInCpViews   = {{ renderFormHtmlInCpViews ? "true" : "false" }};
      var reservedKeywords          = {{ reservedKeywords|raw }};
    </script>
    <div id="freeform-builder"></div>
{% endblock %}
