.status {
  &.green {
    background-color: #27AB83 !important;
  }

  &.orange {
    background-color: #CB6E17 !important;
  }

  &.red {
    background-color: #CF1124 !important;
  }

  &.yellow {
    background-color: #FADB5F !important;
  }

  &.pink {
    background-color: #E8368F !important;
  }

  &.purple {
    background-color: #9B59B6 !important;
  }

  &.blue {
    background-color: #1992D4 !important;
  }

  &.turquoise {
    background-color: #65D6AD !important;
  }

  &.light {
    background-color: #e4edf6 !important;
  }

  &.grey {
    background-color: #9aa5b1 !important;
  }

  &.black {
    background-color: #33404d !important;
  }
}
